body {
    background-color: #001289;
    font-family: georgia, sans-serif;
}

#aboutMe {
    background-color: #eee;
    width: 80%;
    margin: auto;
    padding: 0px 0 20px 0;
    border: 5px solid #A9A86E;
}

img {
    width: 150px;
    border: 1px solid #121212;
}

hr {
    border: 0;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #000947, 
    #8999ff, #000947);
}

h1 {
    font-size: 3em;
    color: #eee;
    font-family: monospace, sans-serif;
    font-weight: bold;
}

h2 {
    padding: 25px 0 20px 0;
    text-align: center;
    font-family: monospace, sans-serif;
    font-weight: bold;
    background-color: #8999ff;
}

h3 {
    text-align: center;
    font-family: monospace, sans-serif;
    font-weight: bold;
    background-color: #8999ff;
}

.col-lg-12 {
    padding: 10px 20px 10px 20px;
    margin: 20px 0 20px 0;
    border: 2px solid #000947;
}

.col-lg-6 {
    padding: 10px 20px 10px 20px;
}

#education {
    border: 2px solid #000947;
}

#experience {
    border-style: solid solid solid none;
    border-width: 2px;
    border-color: #000947;
}

#interests {
    border: 2px solid #000947;
}

#websites {
    border-style: solid solid solid none;
    border-width: 2px;
    border-color: #000947;
}